.page-header {
    background-color: #4CAF50;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Pacifico', cursive; 
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', cursive;
}

.date {
    color: #333333;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #FFFFFF;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post-content {
    font-family: 'Montserrat', sans-serif; 
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #4CAF50;
    background: none;
    border-color: #4CAF50;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #4CAF50;
}
